a{
    text-decoration: none;
    color: white;
}

.border-gray{
    border: 1px solid #dfdfdf;
}

.bg-blue{
    background-color: #1B72E8;
}

.bg-dark-blue{
    background-color: #165BBA;
}

.rounded-pill{
    font-size: 12px;
}

.navbar{
    height: 60px;
}

.fa-bell{
    color: #FF8F00;
}

.dashboard{
    display: flex;
    height: calc(100vh - 60px);
}

.sidebar{
    width: 60px;
    background-color: black;
    flex-shrink: 0;
}


.sidebar .side-nav{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.side-nav a{
    color: white;
}

.side-nav li{
    margin: 10px 0;
}

#main{
    flex-grow: 1;
    overflow: auto;
}

.header-main .row{
    width: 100%;
}

.fa-square-plus{
    font-size: 50px;
    color: white;
    padding: 0;
}

td button{
    border:1px solid #6C757D;
    border-radius: 5px;
    color: #6C757D;
}

.box-top{
    border: 1px solid #dfdfdf;
    background-color: #F7F7F7;
}

.box-bot{
    border: 1px solid #dfdfdf;
}

.date li{
    padding: 5px 0;
}
.report{
    text-decoration: underline;
    color: #1B76FD;
}

@media screen and (min-width: 992px){
    .sidebar{
        width: 120px;
    }
}